  </main>
  {{ partial "menu.html" . }}
  <footer class="l-footer">
    {{ partial "link.html" . }}

    <p class="p-copyright">
      {{ with .Site.Copyright | safeHTML }}
        {{ . }}
      {{ else }}
        {{ if ($.Param "author") }}
          {{ if ($.Param "authorwebsite") }}
            <a href="{{ $.Param "authorwebsite" }}">{{ $.Param "author" }}</a>
          {{ else }}
            {{ $.Param "author" }}
          {{ end }}
        {{ end }}
        &nbsp;&bull;&nbsp;
        {{ .Site.LastChange.Format "2006" }}

        {{ if .Site.Title }}
          &nbsp;&bull;&nbsp;
          <a href="{{ "" | absLangURL }}">{{ .Site.Title }}</a>
        {{ end }}
      {{ end }}
    </p>
  </footer>

  {{- partial "footer_custom.html" . }}

  <script defer type="module">
    
    let pairs = document.cookie.split(";")
    let ref_list = pairs.map(pair => pair.split("=")).filter(splitted => splitted[0].trim() == "ref")

    let ref = ""
    if (ref_list.length == 0) {
      ref = String(Math.random()).replace(".", "")
      var new_cookie = "ref=" + ref + ";path=/;expires=Wed, 01 Dec 2022 01:15:29 GMT;"
      // console.log("created new ref: " + new_cookie)
      document.cookie = new_cookie 
    } else {
      ref = ref_list[0][1]
      // console.log("retrieved ref: " + ref)
    }
    

    let url="https://api.mkari.de/counter/" + document.location.pathname.replaceAll("/", "_") + "?ref=" + ref
    fetch(url, {
      method: "POST"
    })

  </script>

</body>
</html>
